* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    scroll-margin: 30px;
    /* scrollbar-width: thin;
    scrollbar-color: red green; */

}
:root {
    --white-color: #fff5ea;
    --primary-color: #dc3c4d;
    --height-header-bottom: 79.2px;
    --height-header-top: 20px;
   
}
div[id] {
    scroll-margin-top: 220px;
}
.text-color-white {
    color: white;
}

.height100 {
    height: 100%;
}

/* Grid */

/* .grid {
    width: 1200px;
    margin: 0 auto;
    padding: 0;

}
.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
} */

.col-four {
    flex: 0 0 25%;
    flex-wrap: wrap;
}
.col-three {
    flex: 0 0 33.33333333%;
    flex-wrap: wrap;
}
.col-two {
    width: 50%;
}
.col-five {
    width: 20%;
}
/* End grid */

#main {
    /* width: 100%; */
}



.btn-buy {
    display: block;
    padding: 8px 26px;
    background-color: var(--primary-color);
    border-style: none;
    color: var(--white-color);
    border-radius: 30px;
    text-align: center;
    margin: 5px 10px 10px auto;
    box-shadow: 0px 0px 3px 2px rgb(0 0 0 / 20%);
    z-index: 2;
} 


.btn-buy:hover {
    background-color: var(--primary-color);
    opacity: 0.9;
    cursor: pointer;
}

.btn-more {
    display: block;
    padding: 10px 40px;
    background-color: var(--primary-color);
    border-style: none;
    color: var(--white-color);
    border-radius: 30px;
    text-align: center;
    margin: 5px 10px 10px auto;
    box-shadow: 0px 0px 3px 2px rgb(0 0 0 / 20%);
    z-index: 2;
    cursor: pointer;
}
/* Header top */
#header-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 20px;
    background-color: #555;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    color: white;
}


.header-top-body {
    color: yellow;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header-top-adress, .header-top-time {
    display: flex;
}
.header-top-body p {
    padding-left: 10px;
}

/* End header top */
/* Header bottom */
.header-bottom {
    width: 100%;
    height: var(--height-header-bottom);
    position: fixed;
    top: 20px;
    background-color: white;
    z-index: 100;
}
.header-bottom-body {
    display: flex;
    width: 100%;
}

.header-bottom-logo-img img {
    width: 100%;
    cursor: pointer;
}

.header-bottom-banner-img img {
    width: 100%;
}

.header-bottom-research {
    display: flex;
    align-items: center;
    height: 100%;
}

.header-bottom-rs-body {
    display: flex;
    width: 100%;
    border: 1px solid var(--primary-color);
    padding: 15px 22px;
    border-radius: 30px;
    position: relative;
}

.header-bottom-search select {
    border-style: none;
}

.header-bottom-search-line {
    width: 1px;
    height: 20px;
    background-color: #808080;
    margin-left: 5px;
}

.header-bottom-search-text {
    display: flex;
}
.header-bottom-search-input {
    border-style: none;
    padding-left: 20px;
}

.header-bottom-search-text:focus {
    border-color: red;
    border-style: none;
}

 .header-bottom-search-icon {
    position: absolute;
    background-color: red;
    top: -1px;
    padding: 16px;
    right: 0;
    border-radius: 50%;
    color: white;
} 

.header-bottom-contact {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
}

.header-bottom-contact-body p {
    float: left;
}

.header-bottom-contact p {
    text-align: center;
}

.header-bottom-contact-from {
    font-size: 14px;
    color: #333;
    font-weight: 400;
    margin-bottom: 0;
}

.header-bottom-contact-number {
    font-size: 14px;
    color: var(--primary-color);
    font-weight: 700;
}




/* Navigation */
#header {
    position: fixed;
    top: calc(var(--height-header-bottom) + var(--height-header-top));
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
#navi {
    display: flex;
    justify-content: space-between;
}

#nav {
    display: block;
}

#nav li {
    display: inline-block;
    position: relative;
}
#nav>li>a {
    color: white;
    text-transform: uppercase;
}

#nav li a {
    display: inline-block;
    padding: 0 24px;
    text-decoration: none;
    line-height: 60px;
    font-size: 1.1rem;
    width: 180px;
    text-align: center;
}

#nav li a i {
    position: absolute;
    display: none;
    top: 21px;
    right: -1px;
    font-size: 15px;
}

#nav>li:hover>a {
    background-color: var(--white-color);
    color: var(--primary-color);
    transition: ease-in 0.25s;
}

#nav .subnav {
    display: none;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: var(--white-color);
    line-height: 60px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}
#nav .subnav li {
    display: block;
}

#nav .subnav a {
    padding: 2px 48px;
    line-height: 40px;
    display: block;
    color: var(--primary-color);
    text-decoration: none;
}
#nav .subnav li a:hover {
    display: block;
    background-color: var(--primary-color);
    color: var(--white-color);
    transition: ease-in 0.3s;

}

.nav-icon {
   font-size: 12px;
   padding-left: 8px;
   line-height: 60px;
}

.nav-icon-home {
   font-size: 17px;
   padding-left: 8px;
   line-height: 60px;
}
#nav li:hover .subnav {
    display: block;
    transition: all 0.9s;
} 

.cart-icon i {
    line-height: 60px;
    padding: 0 10px;
    width: 100%;
    display: block;
    color: var(--white-color);
    font-size:25px;
    background-color:var(--primary-color);
    
}

.cart-icon i:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
    display: block;
}

.img-title {
    color: var(--white-color);
}
/* End navigation */

.header-nav-pc {
    display: block;
    width: 100%;
}


/* Nav-mb and taplet */
.header-nav-tablet-moblie {
    display: none;
    width: 100%;
}



.nav-mb-tl-body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-mb-tl-body-item{
    text-align: center;
    
}

.btn-nav1 {
    cursor: pointer;
    width: 150px;
    padding: 10px 35px;
    background-color: #87afd8;
    border: none;
    border-radius: 12px;
    color: white;
    box-shadow: rgba(100, 100, 111, .3) 0px 7px 29px 0px;;
}

.btn-nav2 {
    width: 150px;
    padding: 10px 35px;
    background-color: #76c9bd;
    border: none;
    border-radius: 12px;
    color: white;
}

.btn-nav3 {
    width: 150px;
    padding: 10px 35px;
    background-color: #88cf81;
    border: none;
    border-radius: 12px;
    color: white;
}

.btn-nav1:hover, .btn-nav2:hover, .btn-nav3:hover {
    opacity: 0.9;
    cursor: pointer;
}
/* Productwholesale */

.product-wholesale {
    background-color: white;
    padding: 30px 0;
}
.product-wholesale-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-wholesale-name {
    font-size: 14px;
    color: #000;
    font-weight: 400;
    margin: 20px 0;
}

.product-wholesale-item a {
    text-decoration: none;
}
.product-wholesale-img {
    transition: 0.2s ease-out;
}



.product-wholesale-img:hover {
    transform: scale(1.05);
}

/* Start slider */
#slider-home {
    margin-top: 80px;
    width: 100%;
    padding-top: 50%;
    background: url('./assets/image/home.jpg') top center / cover no-repeat;
}
#slider {
    width: 100%;
    position: relative;
    margin-top: 100px;
}
.slider-wapper {
    width: 100%;
    position: relative;
    height: 600px;
    overflow: hidden;
}

.slider-main {
    display: flex;
    width: 100%;
    height: 100%;
    
}
.slider-item {
    flex: 1 0 100%;
    
    
}
.slider i {
    position: absolute;
    top: 50%;
}

.slider-item img {
    width: 100%;
}

.slider-prev,.slider-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  font-size: 20px;
  z-index: 1;
}
.slider-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.slider-dot-item {
    width: 15px;
    height: 15px;
    border-radius: 2rem;
    margin: 0 10px;
    background-color: #999;
    cursor: pointer;
}
.active {
    background-color: white;
}


.slider-next {
    right: -25px;
  }
.slider-prev {
    left: -25px;
  }


/* End slider */
/* Content section */
#content {
    background-color: var(--white-color);
    padding-top: 1px;
    padding-bottom: 60px;
}
#content .content-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
/* End content section */


/* Section */
.section-heading {
    margin-top: 80px;
}
.section-name, .section-title {
    text-align: center;
    color: var(--primary-color);
}

.section-name {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    
}

.section-title {
    font-style: italic;
    border-bottom: 3px solid var(--primary-color);
    padding-bottom: 50px;
}
/* End-Section */
.content-item {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.meal-item {
    width: 100%;
    padding: 10px 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    
}

.meal-item:hover {
   transform: translateY(-10px);
   transition: 0.5s;
}

.meal-item img {
    width: 100%;
    height: 285px;
    transition: .5s;
    position: relative;
    display: block
}
.meal-item img:hover {
    transform: scale(1.05);
    opacity: 0.9;
}
.meal_body {
    background-color: white;
   
}
.meal-price{
    display: flex;
    justify-content: space-between;
    
}
.meal_item-heading {
    font-size: 16px;
    padding: 10px;
    line-height: 20px;
    font-weight: 400;
    color: #686464;
    height: 60px;
}
.meal-price-header,
.meal_item-price-more,
.meal_item-price {
    color: var(--primary-color);
    font-size: 1rem;
    line-height: 20px;
    text-align: right;
    font-weight: 600;
    padding-right: 10px;
    bottom: 0;
}
.meal-price-header {
    padding-left: 10px;
}
.meal_price-sale {
    font-size: 14px;
    color: #666;
    text-decoration: line-through;
    
}

.meal_item-price-more {
    font-style: italic;
    margin-bottom: 20px;
    text-decoration: underline;
    cursor: pointer;
}
.meal_origin {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.meal_origin-brand,
.meal_origin-name {
    font-size: 14px;
    color: #666;
    padding: 0 10px;
}
/* End content section */

/* Footer */
#footer {
    padding-top: 60px;
    width: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-top: 4px solid var(--primary-color);
}
.footer-body {
    margin-top: 30px;
}

.footer-header {
    font-size: 14px;
    color: #666;
    margin-bottom: 16px;
}
.footer-item {
    margin: 10px 0;
    display: flex;
    align-items: center;
}
.footer-item a {
    font-size: 14px;
    color: #666;
    text-decoration: none;
    
}
.footer-list {
    padding-bottom: 200px;
}

.footer-item a:hover {
    color: var(--primary-color);
}

.footer-icon {
    margin-right: 10px;
}

/* End footer */

/* Social-icon */
.social-icon {
    position: fixed;
    top: 35%;
    width: 60px;
    left: 0;
    transform: translateY(50%);
    z-index: 1;
}

.social-icon img {
    width: 30px;
    display: block;
    margin: 0 auto 20px;
    cursor: pointer;
}
/* End social icon */
/* Product */
.main-product {
    background-color: var(--white-color);
    overflow: hidden;
}
.product {
    flex-direction: column;
}
.content-product {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 175px 0;
    flex-wrap: wrap;   
    
}

.product-body {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    height: 100%;
}

.product-img img {
    width: 100%;
}

.product-header {
    color: black;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 20px;
    
}
.product-price {
    float: left;
    color: var(--primary-color);
    margin-bottom: 20px;
    margin-left: 20px;
    display: block;
    margin-top: 20px;
    font-weight: 700;
}

.product-description {
    font-size: 14px;
    color: #666;
    padding: 0 10px;
    margin: 15px 0 20px 15px;
}

.product-body .btn-buy {
    margin-right: auto;
    margin-left: 20px;

}

.product-data-header {
    display: flex;
    margin-bottom: 30px;
    
}

.product-other-text,.product-details {
    text-decoration: underline var(--primary-color) 3px;
    font-size: 1.3rem;
}

.product-cmt-rate {
    font-size: 1.3rem;
    margin-right: 10px;
}

.product-data-text {
    margin-bottom: 30px;
    font-style: italic;
    color: #686464;
    background-color: var(--white-color);
}

.product-other-item {
    
    width: 100%;
}

.product-list {
    display: flex;
    height: 100%;
}

/* Product other */
.product-other {
    margin-top: 45px;
}

.product-list {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 30px;
}

.product-other-body {
    margin: 0 10px;
    background-color: white;
    margin-bottom: 20px;
}

.product-other-btn {
    padding-bottom: 20px;
}

.product-other-img {
    width: 100%;
}

.product-other-header {
    font-size: 14px;
    margin: 15px 0 15px 10px;
    font-weight: 700;

}
.product-other-price {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 15px;
    margin: 15px 0 15px 10px;
}

.product-other-body {

}
.btn-add {
    display: block;
    padding: 8px 26px;
    background-color: var(--white-color);
    border-style: none;
    color: var(--primary-color);
    border-radius: 20px;
    text-align: center;
    margin: 5px 10px 10px auto;
    box-shadow: 0px 0px 3px 2px rgb(0 0 0 / 20%);
}

.btn-add:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    transition: ease-out 0.3s;
    cursor: pointer;
}

/* Price-list */
.price-list {
    margin-top: 190px;
}

.price-list-body {
    padding: 0 20px;
    width: 100%;
}
.price-list-img {
    width: 100%;
    margin-bottom: 80px;
}
.price-list-header {
    margin: 30px 0;
    color: #555;
    font-style: italic;
}

.price-more {
    font-size: 18px;
    color: #555;
    line-height: 26px;
}
.price-more:last-child {
    margin-bottom: 50px;
    word-wrap: break-word;
}
/* End Price-list */
/* Start slider page facebook */
.slider-page-facebook {
    background: url('./assets/image/background-opacity.jpg') top center / cover no-repeat;
    width: 100%;
    margin-bottom: 50px;
    padding: 1% 0;
}

.slider-page-facebook-left {
    margin-left: 80px;
}
.slider-page-facebook-right {
    margin-left: 15px;
}
.slider-page-facebook-left img, .slider-page-facebook-right img {
    width: 300px;
}
/* End slider page facebook */




  